.alignCenter{
    text-align: center !important;
}

hr {
    border-top: 0px solid #eee !important;
}


#footer{
    position: absolute;
    bottom: 0;
    height: 0px;
    background: #f0f0f0;
    width: 80%;
}



.navbar-inverse{
    border:0;
    /*background: transparent url('../images/CIF-web-banner.png') no-repeat ;*/
    object-fit: cover;
    background-size: 100% 100%;
    margin: 0px !important;
    background-color: #855a9c !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f1eded;
}

.navbar-inverse .navbar-brand  {
    color: #f1eded;
}

#imgDiv {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    padding-left : 28% !important;
}

#bgImg {
    display: inline-block;
    height: 100vh;
    width: auto;
}

.navbar-inverse img
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
}


.btn-info {
    color: #fff;
    background-color:  #855a9c;
    border-color:  #855a9c;
}


#resultDisplay_length > label > select {

    color: black !important;
}




